/***** vehicle list btn hover styles ****/

#add-btn:hover{
  background-color:#f8f9fa;
  color:#343a40;
}
#edit-btn:hover{
  background-color:#28a745;
}
#view-btn:hover{
  background-color:#007bff;
}
#delete-btn:hover{
  background-color:#dc3545;
}

/***** vehicle list card ****/
.card-header{
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important; 
}

.vehicle-list{
height:600px;
margin-bottom:0px;
}

.vehicle-list-table {
  margin-left: auto;
  margin-right: auto;
  margin-top:5px;
  border-collapse: collapse;
}

.vehicle-list-table thead tr th, .vehicle-list-table tbody tr td {
  border: 1px solid black;
}

