
/******************** navigation,heading,about,cover stying ********************/

/*jumbotron*/

.jumbotron{
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background-color:#AF7AC5;
	color: floralwhite;
}



/*jumbotron header row*/
.row-header{
	margin: 0px auto;
	padding: 0px auto;
}



.row-show{
	height: 400px;
}


/*page middle content rows*/
.row-content{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom:1px ridge;
	min-height: 400px; 
}

/* body */
body{
	padding:50px 0px 0px 0px;
	z-index:0;  
}

/*navigation link*/
.navilink li a{
  color:#7E57C2; 
}

/*navigation link:hover*/
.navilink li a:hover{
  font-weight:bold;
  color:floralwhite; 
  
}







/******************** testimonials section stying ********************/
.testimonials {
    background-color: #F5F5F5;
    padding-bottom: 30px;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 80px;
}

h2 {
    padding-bottom: 0px;
    padding-top: 80px;
}

#subheading {
    font-size: 18px; 
    padding-top: 0px;
}

.carousel-inner {
    position: relative;             
}

.card{
    background-color: #FFFFFF;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    margin: 20px 0px;
    height: 400px;
    /* padding-bottom: 80px !important; */
}

.img-responsive {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.tst-image, .tst-author {
    text-align: center;
    vertical-align: middle;
    text-align: left;
    display: inline-block !important;
}

.tst-author {
    padding-left: 10px;
    display: block;
    line-height: normal;
}

.review, .user {
    padding-top: 23px;
    padding-left: 25px;
    padding-right: 35px;
}

.review {
    padding-bottom: 55px;
}

p , span {
   
    font-size: 16px;
    font-weight: normal;
    color: #757272;
}

#rating {
    color: #3f51b5;
    font-size: 10px;
}

.carousel-indicators li {
    background-color: #869793;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
  
.carousel-indicators .active {
    background-color: rgb(122, 119, 119);
}

.carousel-indicators {
    bottom: -50px;
}

  /*---------------------------------------
      CONTACT             
  -----------------------------------------*/

  #contact {
    background: #3f51b5;
  }

  #contact h2 {
    color: #ffffff;
  }

  #contact .section-title {
    padding-bottom: 20px;
  }

  #contact h2 > small,
  #contact p,
  #contact a {
    color: #ffffff;
  }

  #contact-form {
    padding: 16px 0;
  }

  #contact-form .col-md-12,
  #contact-form .col-md-4 {
    padding-left: 0;
  }
  
  .form .form-control,
  #contact-form .form-control {
    border: 0;
    border-radius: 5px;
    margin: 10px 0;
  }

  #contact-form input {
    height: 50px;
  }

  #contact-form input[type='submit'] {
    border-radius: 50px;
    border: 1px solid transparent;
  }

  #contact-form input[type='submit']:hover {
    background: transparent;
    border-color: #ffffff;
    color: #ffffff;
  }

  #content{
    padding: 50px 100px;
  }

  
  /*---------------------------------------
     FOOTER              
  -----------------------------------------*/

  footer {
    background: #252020;
    padding: 120px 0;
  }

  footer .section-title {
    padding-bottom: 10px;
  }

  footer h2 {
    font-size: 20px;
  }

  footer a,
  footer p {
    color: #909090;
  }

  footer strong {
    color: #d9d9d9;
  }

  footer address p {
    margin-bottom: 0;
  }

  footer .social-icon {
    margin-top: 25px;
  }

  .footer-info {
    margin-right: 32px;
  }

  .footer-info h2 {
    color: #ffffff;
    padding: 0;
  }

  .footer_menu h2 {
    margin-top: 32px;
  }

  .footer_menu ul {
    margin: 0;
    padding: 0;
  }

  .footer_menu li {
    display: inline-block;
    list-style: none;
    margin: 5px 10px 5px 0;
  }

  .newsletter-form .form-control {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #303030;
    height: 50px;
    margin: 5px 0;
  }

  .newsletter-form input[type="submit"] {
    background: transparent;
    border: 1px solid #f9f9f9;
    border-radius: 50px;
    color: #ffffff;
    display: block;
    margin-top: 20px;
    outline: none;
    width: 50%;
  }

  .newsletter-form input[type="submit"]:hover {
    background: #29ca8e;
    border-color: transparent;
  }

  .newsletter-form .form-group span {
    color: #909090;
    display: block;
    font-size: 12px;
    margin-top: 20px;
  }

  #content{
      padding-left:100px;
      padding-right:100px;
  }

  a {
    color: #252525;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
  }


  a:hover, a:active, a:focus {
    color: #29ca8e;
    outline: none;
  }

  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
  }

  .social-icon li a {
    border-radius: 100px;
    color: #29ca8e;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
    margin: 5px 5px 5px 0;
  }

  .social-icon li a:hover {
    background: #29ca8e;
    color: #ffffff;
  }




/*--------------------------------------0ffers--------------------------------*/


.right-sec .header h1{
  text-align: center;
  font-size: 2.5em;
}
.right-sec h3{
  color: #d2d3d6;
  text-align: center;

 }
.right-sec{
  height: 650px;
  padding-top: 100px;
  background-image: url('../images/z.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.right-sec img{

  width: 250px;
  height: 350px;
  margin:auto;
  float: right;
  width: 50%;
}


.right-sec .textt{
  height: 350px;
  width: 450px;
  float: left;
  margin-top: 50px;
  background-color: white;
  box-shadow: inset -5px -5px rgba(0,0,0,0.5);
  margin-left: 15%;
  box-shadow: -2px -2px 8px rgba(255,255,255,1),
          -2px -2px 8px rgba(255,255,255,1),
                -2px -2px 12px rgba(255,255,255,0.5),
           inset 2px 2px 4px rgba(255,255,255,0.15),
                 2px 2px 8px rgba(0,0,0,8.15);



       }

.right-sec .textt h2{
  color: black;
  text-align: center;
  font-size: 2em;
}
.right-sec .textt h3{
  color:#bdb9b9; 
  font-size: 1.5em;

  text-align: center;

}

.right-sec .textt span{
  color: #d4082a;
}
.right-sec .textt p{
  text-align: center;

}


.slick-next, .slick-prev{
  top: 110% !important;
  z-index: 999;
}

.slick-prev{
  position: absolute;
  left: 950px !important;
}
.slick-next{
    position: absolute;
  right: 178px !important;

}
.slick-next:before, .slick-prev:before{
  font-size: 45px !important ;
}

.slick-dots{
  padding-left: 450px !important;
  margin-bottom: -50px !important;
}
.slick-dots li{
margin-right: 15px !important;

}
.slick-dots li.slick-active:after{
  position: absolute;
  content: '.';
  bottom: -15px;
  left: 6px;
  opacity: 1;
  color: red;
  font-size: 36px;
}


.textt a{
    width: 200px;
    height: 20px;
    color: #d4082a;
    position: relative;
    display: inline-block;
    padding: 20px 60px;
    margin-left: 60px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 40px;
    box-shadow: -2px -2px 8px rgba(255,255,255,1),
                -2px -2px 12px rgba(255,255,255,0.5),
       inset 2px 2px 4px rgba(255,255,255,0.1),
         2px 2px 8px rgba(0,0,0,8.25);


}

.textt a:hover{

    background-color: #d4082a;
    transition: 1s;

}

.textt a:hover span{
  display: inline-block;
  transform: scale(0.98);
  color:white;

}



/*post slider*/
.page-wrapper{
  height: 650px;
  background-color:#f9f9f9;
  padding-top: 50px;
  margin-top: 10px;
}
.post-slider .title{
  height: 200px;
}
.post-slider .title h3{
  text-align: center;
  color: gray;

}

.post-slider .post-wrapper{
   width: 84%;
   height: 350px;
   margin: 0px auto;
   overflow: hidden;
   padding: 10px 0px 10px 0px;
}
.post-slider .post-wrapper .post {
 
  position: relative;
  width: 900px;
  height: 350px;
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem black;

}

.post-slider .post-wrapper .post .slider-image{
 
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  width: 300px;
  transition: 2s;
}

.post-slider .post-wrapper .post .slider-image:hover{
  left: 105%;
  height: 400px;
  width: 400px;
    position: absolute;


}
.post .content{
  position: relative;
  width: 50%;
  left: 20%;
  padding:20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;

}
.post:hover .content{
  opacity: 1;
  visibility: visible;
  left: 0%;

}
.post .content h2{
  text-transform: uppercase;
  font-size: 1.8em;
  line-height: 0.9em;
}
.post .content p{
  font-size: 1.2em;
}

.content a{
  width: 100px;
  height: 40px;
  float: left;
  color: #d4082a;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 18px;
  box-shadow: -2px -2px 8px rgba(255,255,255,1),
        -2px -2px 12px rgba(255,255,255,0.5),
        inset 2px 2px 4px rgba(255,255,255,0.1),
        2px 2px 8px rgba(0,0,0,8.25);


}

.content a:hover{

  background-color: #d4082a;
    color: white;

}

.textt a:hover span{
  display: inline-block;
  transform: scale(0.98);
}

.post-slider .slider-title{
  text-align: center;
  margin: 30px auto;
  font-size: 2.5em;
} 

.post-slider .slider-title h3{
  
  color:#bdb9b9; 
  font-size: 1.5em;
}
.post-slider .next{
    position: absolute;
    font-size: 2em;
    cursor: pointer;
    color: black;
    margin-left: 80px;
}


.post-slider .prev{
   position: absolute;
   font-size: 2em;
   cursor: pointer;
   color: black;
   margin-right: 80px;


}


.post-slider .post-wrapper .post .post-info {
   position: absolute;
   top: 8px;
   left: 16px;
   color: #4e4f52;


}
.post-slider .post-wrapper .post .post-info a{
  text-decoration: none;
  color: black;

}


.post-slider .post-wrapper .post .post-info a:hover{
  color: red;
}
.post-slider .post-wrapper .post .price{
  margin-right: 10px;
  margin-top: 5px;
  float: right;
}



