*{
    padding: 0;
    margin: 0;
}

#header{
    z-index: 997;
    transition: all 0.5s;
    height: 80px; 
    background: rgba(25, 28, 31, 0.8);
}

#header.header-transparent {
    background: transparent;
  }
 
#header.header-scrolled {
height: 60px;
background: rgba(25, 28, 31, 0.8);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */

.nav-menu, .nav-menu *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  .nav-menu > ul {
    display: flex;
  }
  
  .nav-menu > ul > li {
    position: relative;
    justify-content: center;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #ffc85a;
    text-decoration: none;
  }

.cover{
    width: 100%;
    height: 700px;
    background: url("../images/img4.jpeg") top right;
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    left: 0;
}  
#cover_img::before{
    content: "";
    background: rgba(0, 0, 0, 0.45);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cover .cover-content {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
  }
  
  .cover h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-family: "Satisfy", serif;
    color: #ffc85a;
  }
  
  .cover h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

.main-content{
    width: 100%;
    height: 2000px;
    position: relative;
    
}

@media (min-width: 1024px) {
    #cover_img {
      background-attachment: fixed;
    }
  }
  

  /******************************************************** Offers ******************************************/

  .offers{
      padding-top: 6%;
      padding-bottom: 6%;
      text-align: center;
      background: #f8f8f8;
  }

  .price{
    color: #00C853;
    font-weight: bold;

  }
.offer-btn{
    border-radius: 50px;
    padding-right: 120px;
    padding-top: 15px;
    padding-left: 120px;
    padding-bottom: 15px;
}


/****************************************************** services******************************************** */

.service{
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
    background: #ffffff;
}

.icon{
    background-color:  #FFEBEE;
    height: 70px;
    width: 70px;
    border-radius: 50% 50%;
    
    align-items: center;

}

.icon i {
    font-size: 50px;
    color:#ffc85a;
}

.service-card{
   box-shadow:  0 10px 29px 0 rgb(68 88 144 / 10%);
}

.service-card:hover .card-title {
   color:#ffc85a ;
}
.service-card:hover{
   border-color:#ffc85a ;
 }



 /******************************************************* testimonials********************************************************/

 .testimonials{
     padding: 80px 0;
     background: url("../images/img3.jpeg") no-repeat;
     background-position: center center;
     background-size: cover;
     position: relative;
 }

 .testimonials::before{
    content: "";
     position: absolute;
     top: 0;
     left:0;
     right: 0;
     bottom: 0;
     background: rgba(14, 16, 17, 0.7);
     
 }


 .testimonials .testimonial-item {
    text-align: center;
    
    color: #fff;
  }

 .testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #fff;
  }

  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color:#fff;
    margin: 0 0 15px 0;
  }
  
  .testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    color: #eee;
  }

 .testimonial-img{
    width: 100px !important; 
    height: 100px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
 }

 .testimonials .owl-nav, .testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
  }
  
  .testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4) !important;
  }
  
  .testimonials .owl-dot.active {
    background-color: #ffb727 !important;
  }
  


 @media (min-width: 1024px) {
    .testimonials {
      background-attachment: fixed;
    }
  }


  /********************************************************* Contact us **************************************/

  .contact{
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
    background: #FAFAFA;
  }

  .social-icon{
      background:#FAFAFA;
     
  }
  .contact-form{
      height: 450px !important;
  }
  .contact-form, .social-icon{
      background: #FFFFFF;
      box-shadow: 0 0 30px rgb(214 215 216 / 60%);
  }

  .share{
      background: #fff6e4;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      font-size: 25px;
      color: #ffb727;
  }

  .share-icons{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border:1px solid #BDBDBD;
    color: #BDBDBD;
    font-size: 20px;
  }

  .share-icons:hover{
      border:1px solid #ffb727;
      background: #ffb727;
      color: #fff;
  }

  .email-box, .call-box{
    background: #FFFFFF;
    box-shadow: 0 0 30px rgb(214 215 216 / 60%); 
  }


  /* ********************************************************footer **********************************************/

.footer{
    background: url("../images/img2.jpeg") no-repeat;
    background-position: center center;
    background-size: cover;
    height: 300px;
    position: relative;
    color: #fff;
    font-size: 14px;
    text-align: center;
   padding-top: 50px;
}

.footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(14, 16, 17, 0.8);

}

.footer .container {
    position: relative;
  }
  
  .footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Satisfy", serif;
    padding: 0;
    margin: 0 0 15px 0;
  }
  
  .footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }
  
  .footer .social-links {
    margin: 0 0 40px 0;
  }
  
  .footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #ffb727;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    background: #f3a200;
    color: #fff;
    text-decoration: none;
  }
  
  .footer .copyright {
    margin: 0 0 5px 0;
  }
  
  .footer .credits {
    font-size: 13px;
  }
  

  /* Login Form */

 

  .modal{
      border-radius: 0% !important;
      margin: 0;
      padding: 0;
  }

  .modal-content-login{
      height: 500px;
  }

 .log-icon{
     background: #FCE4EC;
     width: 100px;
     height: 100px;
     border-radius: 50%;
     color: #f3a200;
     font-size: 50px;
 }

 .login-button{
     background: #fff;
     border:1px solid #f3a200;
     color: #f3a200;

 }

  .login-button:hover{
    background:#f3a200;
    color: #fff;
    border:1px solid #f3a200;
 }

 .has-success .form-control {
  border: 1px solid #168b3f;
}

.has-danger .form-control {
  border: 1px solid #dc1d34;
}

.form-group .text-help {
  color: #dc1d34 !important;
}

.inline-label label{
  display: inline;
}

.pristine-error {
  display: table;
}

/* welcome reservation form */

.res-image{
  background: url("../images/login1.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px !important;
  padding: 0;
  
}

.cover-res{
  position: absolute;
  width: 100%;
  height: 700px !important;
  background: rgba(14, 16, 17, 0.7) !important;
}

.reservation-text{
  color: #fff;
  font-size: 25px;
}

.res-text{
  font-size: 16px !important;
}